<template name="searchBox">

	<div class="search-box-container">
		<!--
		<input type="text" id="searchBox" placeholder="Search Products...">
	-->

		<div class="searchBox">
			<label for="searchBoxDate" class="control-label" data-i18n="shop.search.searchBoxDateLabel">Date</label>
			<br/>
			<input type="text" id="searchBoxDate" placeholder="{{i18n 'shop.search.searchBoxDatePlaceholder' 'By Date...'}}">
			<span id="searchBoxDateClear" ><i class="input-clear-icon fa fa-times-circle"></i></span>
		</div>

		<div class="searchBox">
			<label for="searchBoxLocation" class="control-label" data-i18n="shop.search.searchBoxLocationLabel">Place</label>
			<br/>
			<input type="text" id="searchBoxLocation" placeholder="{{i18n 'shop.search.searchBoxLocationPlaceholder' 'By Location...'}}">
			<span id="searchBoxLocationClear" ><i class="input-clear-icon fa fa-times-circle"></i></span>

			<div id="geocoderResultContainer" style="display: none;" class="alert alert-warning">
				<!--<span data-i18n="productDetail.isNotVisible">This product is not visible to customers.</span>-->
				<span id="geocoderResult"></span>
			</div>

		</div>

		<div style="clear: both;">
		</div>

	</div>

</template>
